@tailwind base;
@tailwind components;
@tailwind utilities;

.skillpath {
  clip-path: polygon(
    90% 0%,
    100% 20%,
    100% 80%,
    90% 100%,
    10% 100%,
    0% 80%,
    0% 20%,
    10% 0%
  );
}

.lineClipUp {
  clip-path: polygon(5% 0%, 95% 0, 100% 100%, 0% 100%);
}

.lineClipDown {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

.linkClip {
  clip-path: polygon(
    24.8% 33%,
    37.5% 42%,
    58.5% 33%,
    100.1% 32%,
    100.1% 71.8%,
    20% 85%,
    0% 76.3%,
    0% 33.8%,
    11.6% 41%
  );
}

@layer {
  :root {
    --background: #000917;
    --primary: #1492c4;
    --textColor: #859dab;
    --linkColor: #000000;
    --linkHoverColor: #72c7fb;
    --overlayColor: #3f91c81e;
    --headingColor: #3d9e83;
    font-size: 16px;
  }

  .blue {
    --background: #000917;
    --primary: #1492c4;
    --textColor: #859dab;
    --linkColor: #000000;
    --linkHoverColor: #72c7fb;
    --overlayColor: #3f91c81e;
    --headingColor: #3d9e83;
    font-size: 16px;
  }

  .orange {
    --background: #000000;
    --primary: #cf6312;
    --textColor: #8e4a06;
    --linkHoverColor: #ec9d4e;
    --headingColor: #cb580c;
    --overlayColor: #cb580c1b;
    font-size: 16px;
  }

  .purple {
    --background: #110314;
    --primary: #bc70d5;
    --textColor: #c690f2;
    --linkHoverColor: #a360d8;
    --headingColor: #9b03ce;
    --overlayColor: #9b03ce14;
    font-size: 16px;
  }

  .red {
    --background: #000000;
    --primary: #cf6312;
    --textColor: #8e4a06;
    --linkHoverColor: #ec9d4e;
    --headingColor: #cb580c;
    --overlayColor: #cb580c1b;
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary: #ededed;
  }
}

@media (max-width: 320px) {
  :root {
    font-size: 14px;
  }
}
body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
